<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Administrador</title> 
  <style>
body{
	background-image:url(https://media.gq.com.mx/photos/61d71814ed3f3306292cea9c/16:9/w_2992,h_1683,c_limit/joyeri%CC%81a-855839820.jpg);
	background-size:cover;
	background-attachment: fixed;
}
#login{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
	background:rgba(236, 67, 67, 0.7);
	width:90%;
	max-width: 400px;
	height:auto;
	margin:50px auto;
	border-radius:10px 10px 10px 10px;
	padding: 20px;
}
label{
    text-align: center;
	font-style: italic;
	font-size: 30px;
	color:rgba(1, 0, 2, 0.87);
}
h1{
	text-align:center;
	font-style: italic;
    color: rgb(0, 0, 0);
}
form{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
input{
padding:8px;
border-radius:10px 10px 10px 10px;
}
#iniciar{
	margin-top:10px;
	padding: 7px;
	border-radius:10px 10px 10px 10px;
}
  </style>
</head>
<body>
  <table>
    <h1 class="login"> Administrador</h1>
    <div id="login">
    <form action="/login" method="post">
    <label for="username">Nombre de Usuario</label>
    <input type="text" placeholder="Usuario" name="user" value="" required>
    <label for="password" required>Contraseña</label>
    <input type="password" placeholder="Contraseña" name="pass" value="" required>
    <button type="submit" value="Login" required>Iniciar </button>
  </form>
  </div>
</table>
</body>
</html>
